@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* open-sans-condensed-300 - latin */
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-condensed-v15-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/open-sans-condensed-v15-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/open-sans-condensed-v15-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/open-sans-condensed-v15-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/open-sans-condensed-v15-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/open-sans-condensed-v15-latin-300.svg#OpenSansCondensed') format('svg');
    /* Legacy iOS */
}

html,
body {
    height: 100%;
    font-size: 14px;
    color: white;
    line-height: 22px;
    font-family: 'PT Sans';
    padding: 0;
    margin: 0;

}

header {
    height: 230px;
    background-color: #dcdcdc;
    text-align: justify;
}


.container {
    width: 980px;
    padding-inline: 10px;
    margin: 0 auto;

}

.content-header {
    display: flex;
    justify-content: space-between;
    height: 210px;
    background-color: #dcdcdc;

    display: flex;
}

.header1 {
    width: 273px;
    height: 100px;
    background-color: #dcdcdc;
    margin-top: 65px;

}

#foto1 {
    width: 100px;
    height: 100px;
}

#caption {
    font-size: 30px;
    font-weight: 900;
    line-height: 22px;
    font-family: 'PT Sans';
    color: grey;
    margin-top: -90px;
    margin-left: 115px;
}

#text-header {
    font-size: 14px;
    font-weight: 300;
    padding-top: 10px;
    margin-top: 6px;
    margin-right: 7px;

}

.nomer {
    font-family: 'Open Sans Condensed';
    font-size: 40px;
    line-height: 46px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #767676;
    margin-top: 65px;
    margin-right: -2px;

}

.menu {
    background-color: #767676;
    height: 80px;
    margin-top: 0px;
    position: relative;
    z-index: 2;

}

.menu-wrapper {
    display: flex;
    justify-content: space-between;

}

.content-menu {
    width: 1000px;
    height: 80px;
    display: inline-block;
    

}

.text-menu {
    font-family: 'PT Sans';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-top: 20px;
    padding-left: 14px;
}


.text-menu li {
    display: inline;
}

.slider {
    height: 430px;

    z-index: 1;
}

#foto-slider {
    margin-top: -80px;
    margin-left: -136px;
}

.news {
    width: 318px;
    height: 560px;
    background-color: grey;
    font-family: 'PT Sans';
    line-height: 46px;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding-left: 34px;
    margin-top: -13px;

}

#caption-news {
    font-size: 40px;
    font-weight: 700;
    padding-top: 10px;
}

.date {
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    font-style: italic;
    margin-top: 5px;
}

a {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
}

#arhiv {
    text-align: right;
    padding-right: 30px;
    text-decoration: underline;
    margin-right: 25px;
    margin-top: 16px;
}

.text-site {
    color: grey;
    margin-left: 409px;
    margin-top: -560px;
    width: 580px;
}

.zagovolok-text {
    font-size: 40px;
    font-weight: 400;
    padding-top: 22px;
}

p {
    padding-top: 20px;
}

footer {
    background-color: grey;
    height: 220px;
    margin-top: 239px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;

}

.text-one-footer {
    padding-top: 40px;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-top: 3px;
}

.text-two-footer {
    text-decoration: underline;
    margin-top: 27px;
    margin-right: 175px;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.025em;
    color: #ffffff;

}

.text3 {
    margin-right: 3px;
}

.text-third {
    display: flex;
    margin-top: 40px;
    margin-right: 10px;
}

.text_3 {

    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;

    letter-spacing: 0.025em;
    color: #ffffff;
}


.text_3>span {
    text-decoration: none !important;
}

.img_3 {
    margin-top: 10px;
    margin-right: 14px;
}